rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {

      // must be logged in to create a transaction
      allow create: if request.auth != null;

      // logged in user can only read & delete their own transactions
      allow read, delete: if request.auth.uid == resource.data.uid

    }
  }
}
